/* Reset and base styles */
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Menu de navegação */
header.main-header {
    background-color: #3689D6; /* cor do menu */
    height: 10vh; /* 10% do tamanho da página */
    display: flex;
    justify-content: space-between; /* adiciona espaço entre os elementos */
    align-items: center;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem; /* ajusta de maneira relativa a fonte */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* leve sombra para dar profundidade ao menu */
}

.logo {
    font-size: 2.2rem;
    font-weight: bold;
    font-family: "Ribeye Marrow", serif;
    font-style: normal;
}

.menu-container {
    display: flex;
    align-items: center;
}

.menu-item, .cadastro-button {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem; /* ajusta de maneira relativa a fonte */
    padding: 0.5rem 1rem; /* ajusta de maneira relativa a fonte */
    font-size: 1rem; /* ajusta a fonte de maneira relativa */
}

.cadastro-button {
    background-color: transparent;
    border: 2px solid white;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.3s ease; /* efeito de transição */
}

.cadastro-button:hover {
    background-color: rgba(255, 255, 255, 0.1); /* Efeito quando passa o mouse em cima */
}

/* Main Geral */
main {
    margin: 1px auto 0 auto; /* Margem para deixar uma barra entre o header e a pagina e centralizar */
    max-width: 1920px; /* Limitar largura máxima do conteúdo */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave para o conteúdo */
}

main::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; /* Gradiente de página inteira */
    pointer-events: none;
    z-index: -1; /* Não interfere em outros elementos */
}

/* Pagina index */
div[id^="parte"] p {
    margin-left: 10px;
    line-height: 1.6;
    color: #fff; /* Texto branco para visibilidade */
}

#parte0 {
    margin-top: 5px;
    background-color: #3689D6;
}

#parte1 {
    background: url('praia.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    display: flex;
    border-radius: 1px; /* Cantos arredondados */
}

#parte2, #parte3, #parte4, #parte5, #parte6, #parte7 {
    padding: 20px; /* Adicionar preenchimento para espaçamento */
    border-radius: 1px; /* Cantos arredondados */
}

#parte2 {
    background: linear-gradient(to top, rgba(0, 92, 138, 0.8) 0%, rgba(14, 139, 201, 0.8) 100%);
}

#parte3 {
    background: linear-gradient(to top, rgba(0, 23, 34, 0.8) 10%, rgba(0, 92, 138, 0.8) 100%);
}

#parte4 {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 23, 34, 0.8) 100%);
}

#parte5 {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 90%, rgba(233, 233, 233, 0.8) 100%);
}

#parte6 {
    background: linear-gradient(to top, rgba(233, 233, 233, 0.8) 0%, rgba(233, 233, 233, 0.8) 100%);
}

#parte6 p{
    color: rgb(0, 0, 0);
    font-size: 1.25em;
}

#parte6 h1 {
    color: rgb(86, 86, 255);
}

/* Style for text and image */
main p {
    font-size: 1.25em;
    line-height: 1.6;
    color: #333;
    margin: auto;
    padding: 5px;
    text-align: left;
}

main h1 {
    color: white;
}

.texto-e-imagem {
    display: flex;
    align-items: center; /* Centraliza itens verticalmente */
    justify-content: space-between; /* Espaço entre texto e imagem */
}

.central {
    text-align: center;
}

.div-img {
    max-width: 30%; /* Ajustar tamanho conforme necessário */
    max-height: 30%; /* Mantém a proporção da imagem */
    border: 3px solid white; /* Adiciona borda branca ao redor da imagem */
    border-radius: 5px;
    margin-left: 20px; /* Adicionar espaço entre texto e imagem */
}


/* CSS do footer */
footer {
    margin-top: auto; /* Mantém o footer no final da página */
    text-align: center; /* Change to left-align content */
    padding: 20px 0;
    background-color: #3689D6; /* Harmoniza cor do footer */
    color: white;
    justify-content: center; /* Center the container horizontally */
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Center the content horizontally */
}

footer a {
    font-size: 1.2rem;
    color: white;
    text-decoration: none;
    margin: 0 10px;
    padding: 10px 0; /* Optional: Add some vertical spacing between links */
    text-align: left; /* Aligns wrapped text to the left */
}

footer a:hover {
    text-decoration: underline;
}

/* CSS da Seta */
.return-to-top {
    position: fixed; /* Mantém o botão em seu lugar */
    bottom: 20px; /* Distância da parte inferior da página */
    right: 20px; /* Distância da direita da página */
    width: 50px; /* Botão quadrado */
    height: 50px; /* Botão quadrado */
    background-color: #ffffff; /* Mesma cor do fundo */
    border: 3px solid rgb(82, 142, 150); /* Borda do botão */
    border-radius: 5px; /* Cantos arredondados */
    cursor: pointer; /* Muda o cursor ao passar o mouse */
    outline: none; /* Mantém a aparência */
    font-size: 30px;
    color: black;
    text-decoration: none;
    text-align: center;
    line-height: 35px; /* Centraliza texto verticalmente */
}

.return-to-top:hover {
    box-shadow: 0 0 8px rgba(228, 60, 191, 0.6); /* Efeito de foco para o botão */
}

/* Pagina de Login */

#loginPagina {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

#login {
    background-color: #fff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

#login h2 {
    margin-bottom: 1rem;
    color: #333;
}

#login label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    text-align: left;
    color: #555;
}

#login input[type="email"],
#login input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#login button.login-page-button {
    display: block;
    margin: 0 auto;
    width: 100%;
    padding: 0.75rem;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

#login button.login-page-button:hover {
    background-color: #0067d6;
}

#login a {
    color: #007bff;
    text-decoration: none;
    display: block;
    margin-top: 1rem;
}

#login a:hover {
    text-decoration: underline;
}

/* Pagina de cadastro */

.cadastro-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: linear-gradient(to top, rgba(0, 128, 192, 0.6), rgba(0, 128, 192, 0));
}

.cadastro-form {
    background: linear-gradient(to top, rgba(0, 128, 192, 0.7), rgba(0, 128, 192, 0));
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.349);
    width: 100%;
    max-width: 400px; /* Limitar largura máxima para melhor responsividade */
}

.form-title {
    color: #333;
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.5rem;
    font-weight: bold;
}

.input-label {
    display: block;
    margin-bottom: 8px;
    color: #000000;
    font-size: 1rem;
}

.input-field {
    padding: 12px;
    margin-bottom: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box; /* Incluir preenchimento e borda na largura total do elemento */
}

.cadastrar-button {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    transition: background-color 0.3s ease; /* Transição suave para o efeito de passar o mouse */
}

.cadastrar-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Pagina Sobre */

#sobre h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#sobre p {
    color: #555;
    padding: 10px;
}

#nossa-visao h1{
    color: #333;
}

#nossa-visao p{
    color: #555;
}

#nossos-valores h1{
    color: #333;
}

#nossos-valores ul {
    color: #333;
    list-style-type: none;
    padding: 0;
}

#nossos-valores li {
    background-color: #e6f7ff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    color: #555;
}

/* Estilo das Div */
#sobre, #nossa-visao, #nossos-valores {
    max-width: 1920px;
    margin: 25px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}


.sobre-div {
    height: 83vh;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 128, 192, 0.6), rgba(0, 128, 192, 0));
}

/* Fundo especifico do Sobre */

#sobre {
    background-color: #e6f7ff;
}

#nossa-visao {
    background-color: #e6f7ff;
}

#nossos-valores {
    background-color: #e6f7ff;
}

/* Pagina Parceiros */

#individual h1 {
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#individual p {
    color: #555;
    padding: 10px;
}

#ongs h1{
    color: #333;
    text-align: center;
}

#ongs p{
    color: #555;
}

#locais h1{
    text-align: center;
    color: #333;
}

#locais ul {
    color: #333;
    list-style-type: none;
    padding: 0;
}

#locais li {
    background-color: #e6f7ff;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    color: #555;
}

/* Estilo das Div */
#individual, #ongs, #locais {
    max-width: 1920px;
    margin: 25px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.parceiros-div {
    height: 83vh;
    padding: 15px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to top, rgba(0, 128, 192, 0.6), rgba(0, 128, 192, 0));
}

/* Fundo especifico do Parceiros */

#individual {
    background-color: #e6f7ff;
}

#ongs {
    background-color: #e6f7ff;
}

#locais {
    background-color: #e6f7ff;
}
